body {
    font-family: Comic Sans Ms;
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4;
    /* background: linear-gradient(to bottom, #a8d08d, #e6d7b4); /* Gradient from green to beige */
    /* background-attachment: fixed;*/
    background-image: url('media/field.jpg');
    margin-top: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Ensures the header spans the full width of the screen */
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    z-index: 1000; /* Ensures the header stays on top of other elements */
    padding: 20px; /* Adjust padding as needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu{
    mouse-pointer: cursor
}

.menu a {
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}


.menu a:hover {
  color: black;
}


.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 15%;
}

#company-details {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #666;
  font-size: 14px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 auto;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-image: url("image.jpg");
  background-size: cover;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  z-index: 999;
}

.chat-popup h2 {
  margin-top: 0;
}

.chat-popup label {
  font-weight: bold;
}

.chat-popup input[type="text"],
.chat-popup input[type="email"],
.chat-popup textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.chat-popup textarea {
  height: 100px;
}

.chat-popup button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.chat-popup button:hover {
  background-color: #45a049;
}

#message{
  resize: none;
}

#about {
    text-align: center;
    padding: 20px;
}
#contact {
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
#contact td {
    width: 50%;
    vertical-align: top;
}
#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#contact textarea {
    height: 100px;
}
#contact p {
    margin: 10px 0;
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
  }
  
  .slides {
    display: none;
  }
  
  .fade {
    animation: fade 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }
  
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  